extends layout

block content
  .row
    .columns.small-12.medium-6.data
      h2.uv-index#uv-index 0.00
    .columns.small-12.medium-6
      canvas#indexChart(width="400" height="400")
  .row
    .columns.small-12.data
      .panel
        p Device ID: <span><em>(no device connected)</em></span>