/* line 1, ../scss/views/_home.scss */
body {
  background: #FFF;
}

/* line 13, ../scss/views/_home.scss */
.title-area {
  padding-left: 20px;
}
/* line 15, ../scss/views/_home.scss */
.title-area h1 {
  color: #FFF;
}

/* line 20, ../scss/views/_home.scss */
.pr-logo {
  height: 43px;
}

/* line 24, ../scss/views/_home.scss */
.row {
  padding: 20px 0;
}

/* line 28, ../scss/views/_home.scss */
.data {
  text-align: center;
}

/* line 32, ../scss/views/_home.scss */
.panel {
  color: #555;
  font-size: 12px;
}
